{% extends "layout.html" %}

{% block main %}
    <div class="masthead">
        <h2>How to get around?</h2>
        <p>We have designed quite a simple UI for you to play a few basic notes of a piano. 
        The project has three main components: ability to play using hover, play using keyboard, and play using touch via Arduino.
        </p>
        <p>Go! Play and find out yourselves.</p>
        <p>We would love to hear back from you, so do drop a mail if you wish to using the nav-links.</p>
    </div>
    

{% endblock %}