{% extends "layout.html" %}

{% block main %}
    <div class="masthead">
        <div class="logo">
            <i class="fas fa-heart-broken"></i>
        </div>
        <div class="headline"><h1>Keybored</h1></div>
        <div class="tagline">This is our implementation of a simple musical keyboard that you can play with the <i class="fas fa-mouse-pointer"></i> , <i class="fas fa-keyboard"></i> or using the capacitive touch <i class="fas fa-keyboard"></i> via Arduino.</div>
    </div>

    <div class="masthead">
        <a href="/play" class="btn btn-black btn active" role="button" aria-pressed="true">Start Playing</a>
    </div>
    
{% endblock %}
